<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oscarsalguero.eegstarter">

    <permission android:name="android.permission.CALL_PHONE"
        android:protectionLevel="signature|privileged" />
    <permission android:name="android.permission.CALL_PRIVILEGED"
        android:protectionLevel="signature|privileged" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:showOnLockScreen="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".valuesActivity" />
        <activity android:name=".contactSettingsActivity" />
        <activity android:name=".PECSActivity" />
        <activity android:name=".PECSDrinkActivity" />
        <activity android:name=".PECSFoodActivity" />
        <activity android:name=".PECSBathActivity" />
        <activity android:name=".PECSPlayActivity" />
        <activity android:name=".PECSExitActivity" />
        <activity android:name=".PECSEmotionsActivity" />
        <activity android:name=".PECSPainActivity" />
        <activity android:name=".musicActivity" />
        <activity android:name=".bubblesActivity" />
        <activity android:name=".PECSCallActivity" />
        <activity android:name=".HelpActivity" />
    </application>

</manifest>